{% extends 'main.html' %}
{% load static %}

{% block home-slider %} {% endblock home-slider %}

{% block class %} class="sub_page" {% endblock %}

{% block main %}

<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img alt="" src="{% static 'images/about-img.png' %}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h1>
                            About Us
                        </h1>
                    </div>
                    <p>
                        <strong>Welcome to the delicacy of Bengali Cuisine</strong>
                    </p>
                    <p>
                        We at Anjali Caterer welcome you to our succulent delicacies of Bengal. We are based in
                        Kolkata, the city of hearts. People here steal hearts by offering delicious foods.
                        And we are no different as we have a similar mission.
                    </p>
                    <p>
                        Whenever people hear Bengali cuisine, they seem to think about sweet desserts, spicy and
                        aromatic tasty dishes. We in Anjali Caterer have managed to provide the same taste of Bengal
                        to our clients. No matter whatever, the occasion is we believe that the best quality of
                        food offers the most satisfaction to the guests. From weddings to birthday parties and
                        corporate events, we provide the best quality food in Kolkata.
                    </p>
                    <p>
                        We innovate with our clients. We also offer the best traditional Bengali dishes in Kolkata.
                        We bring a fusion to our traditional dishes mixing different spices and styles in them.
                        Although people tend to eat the same food in houses and restaurants occasionally,
                        we in Anjali Caterer have the best chefs in Kolkata to serve the invitees with several
                        innovative and authentic dishes. We also hold a high rank among the best Bengali caterer
                        in Kolkata.
                    </p>
                    <div class="expandable-content" style="display: none;">
                        <p>
                            <strong>Why we are the best caterer in Kolkata</strong>
                        </p>
                        <p>
                            Finding the best catering services is not an easy task. there are many fundamental things
                            involve like the varieties of the menu, budget, quality of food, etc. Here we are going to
                            tell you why you should choose us, as we offer-
                        </p>
                        <p>
                            <strong>Quality food and versatile menu</strong>
                        </p>
                        <p>
                            We consider the health-conscious demands of our potential customers, and we do not
                            compromise
                            with the nutrition, quality, and flavour of the food. Also, we always try to match the
                            expectation of our customers adjusting the preferable taste and spices to the choice of
                            food.
                            Furthermore, we offer varieties of menus for different occasions so that there are
                            alternatives
                            available for our customers. We offer various Indian dishes as per our client’s selection.
                        </p>
                        <p>
                            <strong>Budget-friendly</strong>
                        </p>
                        <p>
                            For anyone looking for catering services, the budget is always in mind. Our budget is
                            extremely
                            basic. According to the spending requirements of our clients, we offer the best menu
                            available
                            for our guests. People who choose us know that we are the most budget-friendly wedding
                            caterers
                            in Kolkata.
                        </p>
                        <p>
                            <strong>Trained team of qualified chefs and expert caterers</strong>
                        </p>
                        <p>
                            We have a team of qualified Bengali chefs in Kolkata offering innovative Bengali recipes to
                            guests at parties and functions. Also, we have experienced caterers who are specialised in
                            providing buffet services and table service as well. The Anjali Caterer team has offered
                            their efficiency at multiple celebrations. We have mastered the classic style of serving
                            food.
                        </p>
                        <p>
                            <strong>Authentic taste of Bengal</strong>
                        </p>
                        <p>
                            While there are many competitors in the food industry we pick authentic spices and quality
                            ingredients for preparing our foods. It makes sure that we are able to match the authentic
                            taste of Bengal’s rich culture. Hence we are considered among the top caterers in Kolkata.
                        </p>
                        <p>
                            <strong>Our wedding special menu</strong>
                        </p>
                        <p>
                            Weddings being the most expensive and lavish event among Bengali families, people want the
                            best
                            wedding menu to be served to their guests. The clients always want their guests coming from
                            different parts of the world can be able to enjoy the special dishes of the Bengali culture.
                            We are passionate about creating the best wedding menu according to the choices and budget
                            selected by our clients. Our specialisations in varieties of dishes have given us the
                            opportunity to become the best wedding caterers in Kolkata. Our wedding menu consists of a
                            three-course meal starting from appetizers, main course, and desserts. We also offer a live
                            mocktail counter offering varieties of unlimited mocktails to the guests.
                        </p>
                        <p>
                            <strong>Services</strong>
                        </p>
                        <p>
                            Having emerged as the best Bengali caterer in Kolkata comes with a heavy-duty towards
                            matching the customer’s expectation in regard to taste and health both. Apart from offering
                            delicious dishes, we give a major focus on sanitation and hygiene in regard to food
                            packaging and keeping the cooking areas clean. The clients always look for perfection, and
                            we have given immense effort to the quality of taste and serving of the food. We also offer
                            live cooking services at the functions. For hygiene’s sake, we also prefer to recommend the
                            sit-down meals for the main course meal for limited touching of the serving spoons and to
                            avoid long buffet lines. Also, it gives an opportunity to enjoy the celebration with family
                            and friends over food in an intimate way. Our team of expert caterers will be at your
                            service in repeating all the food items that we offer on the menu so that the guests can
                            only have the food items of their choice from the convenience of the seat.<br><br>
                            Although our team has experience in providing services at weddings, we also extend our
                            interest in providing our quality services in any event.
                        </p>
                        <p>
                            <strong>Vision</strong>
                        </p>
                        <p>
                            Our vision is to expand the catering services and take them to the global community
                            throughout Asia. Also, we want people attending events from anywhere in the world can
                            enjoy the taste of Bengal specially from the kitchen of the best Bengali caterer.
                            With no compromise in quality, we want to deliver authentic, mouth-watering Bengali
                            dishes to our customers.
                        </p>
                    </div>
                    <a href="#" id="readMoreLink">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->

{% endblock %}